/* body {
  background-color:rgba(150, 125, 255, 0.3) ;
}
input, input:disabled, select {
  background-color: transparent !important;
} */

/*  */

.bg-orange-100 {
  background-color: #FFE0B2;
}

/*  */
main {
  min-height: 75vh;
}

.textarea-msg {
  min-height: 25vh !important;
}

.darkmode-btn input[type="checkbox"] {
  display: none;
}

.darkmode-btn {
  align-self: center;
  justify-content: center;
  margin: 0;
}

.darkmode-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  height: 30px;
  background-color: black;
  transition: all 1s ease;
  position: relative;
  border-radius: 30px;
  cursor: pointer;
}

.darkmode-box .darkmode-ball {
  width: 30px;
  height: 30px;
  background-color: grey;
  transition: all 1s ease;
  position: absolute;
  border-radius: 50%;
  border: 3px solid black;
}

.darkmode-box .scenary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 1s ease;
  padding: 5px;
}

.darkmode-box .scenary svg {
  width: 20px;
}

.branding {
  background: rgb(0, 212, 255);
  background: linear-gradient(90deg,
      rgb(255, 255, 255) 0%,
      rgb(252, 75, 75) 35%,
      rgb(230, 0, 0) 75%,
      rgb(255, 0, 0) 100%);
}

.branding-title {
  min-width: 1000px;
}

.branding-title-en {
  font-weight: 900;
  font-size: 300%;
}

.branding-title-bn {
  font-family: "CharuChandan3D", sans-serif;
  font-weight: 800;
  font-size: 280%;
}

/* Footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
}

/* sidebar */

.logo,
.inst-name {
  height: 75px;
}

.chsir {
  justify-self: right;
}

.chsir-name {
  color: darkorchid;
  text-decoration:solid;
  text-align: right;
  line-height:normal;
  padding: 0;
  margin: 0;
  border-bottom: 5px solid darkorchid;
  font-weight: bolder;
}

.chsir-img {
  border: 5px solid darkorchid;
  border-radius: 25% 25% 25% 0;
  height: 75px;
}

.Stud_image {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  align-content: center;
  justify-content: right;
}

@media only screen and (max-width: 576px) {
  header {
    padding: 1em 0;
  }

  .logo,
  .inst-name {
    height: 45px;
  }

  .chsir-img {
    max-width: 50px;
    max-height: 50px;
  }

  .chsir-name {
    font-size: small;
  }
}

#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.button-img {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button-img:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}

.fa-heart {
  color: red;
}