@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Acme";
    src: url("/fonts/acme/acme.woff");
}

@font-face {
    font-family: "Bacode";
    src: url("/fonts/bacode/bacode.woff2");
}

@font-face {
    font-family: "Broadway-bt";
    src: url("/fonts/broadway-bt/broadway-bt.woff2");
}

@font-face {
    font-family: "DancingScript";
    src: url("/fonts/dancing-script/DancingScript.woff");
}

@font-face {
    font-family: "Greenhouse-gas";
    src: url("/fonts/greenhouse-gas/greenhouse-gas.woff2");
}

@font-face {
    font-family: "Impact";
    src: url("/fonts/Impact/impact.woff");
}

@font-face {
    font-family: "Quick-starter";
    src: url("/fonts/quick-starter/quick-starter.woff2");
}

@font-face {
    font-family: "RubikMicrobe";
    src: url("/fonts/RubikMicrobe-Regular.ttf");
}

Nav .LinkActiveClass {
    background: #FB2576;
    color: #000;
}

/* .bg-carousel {
    background-image:
        linear-gradient(to bottom, transparent, #94a3b8),
        url('./img/carousel-1.svg');
} */

.bg-carousel {
    animation-name: bg-carousel;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-delay: 15s;
}

@keyframes bg-carousel {
    0% {
        background-image: url('./img/carousel-1.svg');
    }

    50% {
        background-image: url('./img/carousel-2.svg');
    }

    100% {
        background-image: url('./img/carousel-3.svg');
    }
}